body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #70dce4;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #e97272;
}

h2 {
  text-align: center;
  color: #666;
  margin-bottom: 10px;
}

table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e5e9bd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

a,
input[type="submit"] {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #3ae7ca;
  border: none;
  font-size: medium;
  border-radius: 4px;
}

a:hover,
input[type="submit"]:hover {
  background-color: #e6e34c;
}

.volver {
  background-color: #4cacaf;
}

.volver:hover {
  background-color: #b9db3f;
}

button {
  margin-top: 10px;
}

.titulo{

color: brown;
font-weight: 600;
}